<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css" media="screen" />

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

</head>

<body>
  <div class="header">
    <p class="small">RISD Graphic Design • GRAPH-1125</p>
    <br>
    <!-- <h2 style = "padding-top:0px"> -->
    <h2><span id="cp" onclick="scramble()">Computational Poetics</span> is a studio elective focused on new ways of
      reading and writing, both with and without computers.
      <br><br>The course asks critical questions about text-oriented art and design in the context of code, procedures,
      authorship, and classification.
    </h2>
    <br>
    <p>LINKS →
      <a class="button" href=" " target="_blank">Discord</a><a class="button"
        href="https://drive.google.com/drive/folders/1ERDvrNhZdkI-J55RWtSD4OjzuE9Dz_sv?usp=drive_link"
        target="_blank">GOOGLE Drive</a><a class="button" href="https://calendly.com/kwu08" target="_blank">Office
        Hours</a><a class="button" href="mailto:kwu08@risd.edu">Email Kathy</a>
    </p>
    <!-- <p>Student work →
      <a class="button" href="https://www.instagram.com/comppoetics/" target="_blank">Instagram</a>
      <a class="button" href="reader/spring21.html" target="_blank">Spring 2021</a>
      <a class="button" href="reader/fall21.html" target="_blank">Fall 2021</a>
    </p> -->
  </div>

  <div id="container">
    <div class="row" v-for="(week,index) in weeks">
      <div class="item" @click="week.shown = !week.shown">
        <div class="item-heading"><span class="date">{{index+1}}</span>
          {{week.theme}}</div>
        <div class="date" v-html="week.date"></div>
      </div>

      <!-- <div class="caret">X</div> -->

      <!-- hidden content starts here -->
      <div class="contents container" v-if="week.shown==true">
        <div v-html="week.questions"></div>
        <br>
        <div v-html="week.img" class="imageCaption"></div>
        <br>
        <!-- <h3>
        In Class</span></h3> -->
        <!-- This is H3 on purpose!! -->
        <div v-html="week.inClass"></div>

        <h3>
          FOR NEXT CLASS</span></h3>
        <div v-html="week.forNext"></div>


      </div>
    </div>

    <!-- end row element -->

  </div>
  <p class="small">Thanks to Clement Valla for the Binder.js template.</p>

  <script type="text/javascript">
    let com = ["Mom", "Com", "Pom", "Tom"]
    let pu = ["pu", "tu", "cu", "mu"];
    let ta = ["ca", "ta", "ma", "pa"];

    let Po = ["Co", "Po", "To", "Mo"];
    let tic = ["mic", "tic", "ckic", "pic"];

    let title = document.getElementById('cp');

    function random() {
      return Math.floor(Math.random() * 4);
    }

    function scramble() {
      title.innerText = com[random()] + pu[random()] + ta[random()] + "tional " + Po[random()] + "e" + tic[random()] + "s";

    }
  </script>

  <script type="module">

    import projects from "./projects.js";

    new Vue({
      el: "#container",
      data: {
        shownitem: 0,
        weeks: [
          {
            shown: false,
            theme: `Beginnings`,
            date: '9/09',
            questions: `What is computational poetics? What does it mean to apply computational ingredients to language? What are the poetic opportunities of computation? What are the methods + implications?`,
            img: `<img src="imgs/parrishcrop.png" class="imageCaption"><br>Allison Parrish, Compass Poems`,
            inClass:
              `
                Go over syllabus. Together, we'll write class community guidelines: How can this course best support your learning and all aspects of well being during pandemic? How can we support one another?
                Introduce projects, themes, questions (corpus, methods, embodiment, implications)
                Create shared working definition of computational poetics</li>
                Talk about Re-indexing: Tuck & Yang: <a href="https://clas.osu.edu/sites/clas.osu.edu/files/Tuck%20and%20Yang%202012%20Decolonization%20is%20not%20a%20metaphor.pdf" target="_blank">Decolonization is not a metaphor</a> (p1–p13) ✿
                <a href="https://cyberfeminismindex.com/" target="_blank">Cyberfeminism Index</a>`
            ,
            forNext: `
              Legacy Russell ✻ <a href="http://kaaathy.com/risd-cp-2021/class-materials/books/Glitch_Feminism_01_02.pdf" target="_blank">Glitch Feminism</a> Intro & Ch. 1. <a href="https://docs.google.com/document/d/1dFPrSmi1s4tLMM8--hxzTnpjBkQqx9rgKFYAl83gPHg/edit" target="_blank">(Annotatable version)</a>.
        <br><br>Do ${projects[0].project}: ${projects[0].name}.`
          },
          {
            shown: false,
            theme: "Glitching + Rewriting",
            date: `9/16`,
            questions: `How does the history of computational tools influence our present practice? Where do the roots show up? Who are we in dialogue with when we do this work, and where might our tools betray our creators?`,
            img: `<img src="imgs/gooey.jpg" class="imageCaption"><br>American Artist, BLACK GOOEY UNIVERSE`,
            inClass: `
              Discuss readings: What roots do we want to take with us? To betray or sever? ✿ What futures do we want to incubate? ✿ What are binaries or taxonomies we want to resist?
              Have a potluck~
              <br><br>
              Look at:
              <a href="https://en.wikipedia.org/wiki/Non-English-based_programming_languages" target="_blank">Non-English-based programming languages</a> ✿ Cyberfeminism Index ✿
              <a href="http://indigenousfutures.net/" target="_blank">Skawennati</a> ✿
              <a href="https://americanartist.us/works/black-gooey-universe" target="_blank">American Artist</a> ✿ <a href="https://en.wikipedia.org/wiki/Electronic_Disturbance_Theater" target="_blank">Electronic Disturbance Theater</a>
              Weaving + Jacquard ✿ Human Computers ✿
              <a href="http://www.righto.com/2019/07/software-woven-into-wire-core-rope-and.html" target="_blank">Core rope + Apollo Guidance Computer</a> ✿
              Nabil Hassein <a href="https://nabilhassein.github.io/blog/generative-DOOM/" target="_blank">generative-DOOM</a>
              <br><br><span class="note">Code Workshop</span> Intro to HTML/CSS/javascript. How to debug, make mischief in inspector, and use the console.</span>
              `,
            forNext: `Ron Padgett ✻ <a href="https://files.eric.ed.gov/fulltext/ED404618.pdf" target="_blank">Creative Reading: What It Is, How To Do It</a> p70–123.
              <br>Try one of the reading techniques outlined here and post the visual output to the Discord. <br><br>
              Create something responding to ${projects[1].project}: ${projects[1].name} </li>
              `,
          },
          {
            shown: false,
            theme: "Randomness, Chance, Oracles",
            date: '9/23',
            questions: `When inviting chance as an ingredient or collaborator, what fractalline futures are possible? How does statistical randomness become a metaphor?`,
            img: `<img src="imgs/merrill_ouija.jpg" class="imageCaption"><br>James Merrill's homemade Ouija board`,
            inClass: `Look at: Lillian-Yvonne Bertram <a href="http://www.noemipress.org/catalog/poetry/travesty-generator/" target="_blank">Travesty Generator</a>, James Merrill's <a href="https://yalealumnimagazine.com/articles/3363" target="_blank">Ouija Board</a>, Kimiko Hahn on <a href="https://bombmagazine.org/articles/kimiko-hahn/" target="_blank">Zuihitsu</a>, or “running brush,” and cultivating randomness
              <br><br><span class="note">Code Workshop</span> Introduction to Glitch.com. Start to play with <a href=
              https://docs.google.com/document/d/1606Vq_ELeQ6d4PIADPZ3jifnsoMl8jUu_Srvody0A5A/edit#heading=h.biazm6nhdt7x
              target="_blank">conditional statements</a> and randomization</span>`,
            forNext: `Wendy Chun on Code as Law  ✻ <a href="https://observatory.constantvzw.org/books/wendy-hui-kyong-chun-programmed-visions-software-and-memory.pdf" target="_blank">Programmed Visions Software & Memory</a>. 40-56 in the PDF pages, 25–41 in the book pages. <a href="https://docs.google.com/document/d/1dlw1lNptELpjx-dupwXjdU_lzRpUdDxqFrOxIZ2l3Zk/edit#" target="_blank">(Annotatable version).</a> <br><br>
            <br><br>Start ${projects[3].project}: ${projects[3].name}`
          },
          {
            shown: false,
            theme: "Functions, Scores, Rituals",
            date: '9/30',
            questions: `In what way can we use “programming” as a metaphor to understand the mechanics of our own behaviors individually and at scale?
              <br><br>What scores do we read, what scores do we write? How does context affect the nature of score?
              `,
            img: `<img src="imgs/lenora-de-barros.jpg" class="imageCaption"><br>Lenora deBarros, Poema (1979)`,
            inClass: `Look at: <a href="https://kameelahr.com/Scoring-the-Stacks-2019" target="_blank">Scoring the Stacks</a> ✿ Benjamin Patterson ✿ Field Guide to iLanding ✿ etc
              Write a score which describes a ritual
              Text + bodies + scores exercise (inspired by Kameelah Rasheed). Afterwards, write a new score for reading
              <br><br><span class="note">Code Workshop</span> Building on last week, we'll create a <a href="https://docs.google.com/document/d/1606Vq_ELeQ6d4PIADPZ3jifnsoMl8jUu_Srvody0A5A/edit#heading=h.2c8c0zvbxdrm" target="_blank">simple HTML website</a> which will show random text</span>`,
            forNext: `No reading. Iterate on last week's work.`
          },


          {
            shown: false,
            theme: "Collective Hypertext",
            date: '10/07',
            questions: `What does non-linear readership offer? What influence does a reader have over their own path? What about a text which is made of many texts, and many places? How do you read the internet?
              <br><br>
              Where in your practice do you produce language with others? How is authorship distributed?`,
            img: `<img src="imgs/patchwork.png" class="imageCaption"><br>Shelley Jackson, Patchwork Girl`,
            inClass: `Look at:
              Jillian Weise ✻ <a href="https://granta.com/common-cyborg/" target="_blank">Common Cyborg</a>
              Katy Gero ✻ <a href="https://shecancode.io/blog/why-siri-sounds-like-a-girl-but-says-she-is-beyond-gender" target="_blank">Why Siri Sounds Like A Girl, But Says She Is Beyond Gender</a>
              <br><br><span class="note">Optional Code Workshop</span> We will do an <a href="https://docs.google.com/document/d/1606Vq_ELeQ6d4PIADPZ3jifnsoMl8jUu_Srvody0A5A/edit#heading=h.6nrk4jj4sswg" target="_blank">introduction of RiTa.js</a>, with an emphasis on exploration. We'll play with a simple Markov chain project.`,
            forNext: `Eunsong Kim ✻ <a href="http://www.scapegoatjournal.org/docs/09/Eunsong%20KIM,%20Found,%20Found,%20Found_%20Lived,%20Lived,%20Lived.pdf" target="_blank">Found Found Found Lived Lived Lived</a>. <a href="https://docs.google.com/document/d/1ygchP_N7GI1oh_CbkdP4gdoLX12G0g9I3EpyOJD5TU0/edit" target="_blank">(Annotatable version).</a></li>
            <br><br> Complete work on project 1.`
          },
          {
            shown: false,
            theme: "Scaling, Slowing Down",
            date: `<span class="alert">project 1 due</span> 
            
            10/14 `,
            questions: `In Empire of AI, Hao writes about OpenAI’s drift from their purported ethics into unconditional drive for capital and scale. LLM stands for large language model; what would a language model look like that which prioritized locality, ecology, and consent?`,
            img: `<img src="imgs/lowtech.png" class="imageCaption"><br>How to Build a Low-Tech Internet, Low-Tech Magazine`,
            inClass: `Look at: <a href="https://www.consentfultech.io/" target="_blank">Consentful Tech</a>, <a href="https://solar.lowtechmagazine.com/">Low-Tech Magazine</a>, <a href="https://solarprotocol.net/index.html" target="_blank">Solar Protocol</a>, Allison Parrish’s <a href="https://www.culturehub.org/allison-parrish" target="_blank">radically small language model</a>, many of Laurel Schwultz's <a href="https://laurelschwulst.com/medium/website/"target="_blank">websites</a>. Do the exercise ${projects[2].project}: ${projects[2].name} in class.`,
            forNext: `Allison Parrish ✻ <a href="https://posts.decontextualize.com/language-models-ransom-notes/" target="_blank">Language Models Can Only Write Ransom Notes</a>
            <br>Begin ${projects[4].project}: ${projects[4].name}`
          },
          {
            shown: false,
            theme: "Interface + Embodiment",
            date: '<span class="alert" style="background:pink!important">k out</span> 10/28 ',
            questions: `If I am an AI voice-controlled interface, how does my appearance and identity render the language I offer?`,
            img: `<img src="imgs/mccarthy.jpg" class="imageCaption"><br>Lauren McCarthy, Social Turkers`,
            inClass: `Look at: <a href="https://docs.google.com/document/d/15oSMuDX5OnYaJ6ZTe5QVTC2fB7kE-EDY5wPQMmD-3BA/edit" target="_blank">Alt-Text as Poetry Workbook</a> ✿ Skawennati + Second Life ✿ Excerpt from Disability Visibility ✿ Ian Hatcher ✿ Cunnilingus in North Korea
              <br><br><span class="note">Exercise</span> Transcribe a piece of language for an hour. Note which decisions you make. We'll discuss in class the physical experience of transcription.
              <br><br><span class="note">Optional Code Workshop</span> We'll continue playing with some examples from RiTa.js. We'll explore rhyming and random words, and <a href="https://docs.google.com/document/d/1606Vq_ELeQ6d4PIADPZ3jifnsoMl8jUu_Srvody0A5A/edit#heading=h.6nrk4jj4sswg" target="_blank">create a simple rhyming project.</a>
              `,
            forNext: `Excerpts from Empire of AI, by Karen Hao. <br> Continue project work.`
          },
          {
            shown: false,
            theme: "Body + Corpus",
            date: '11/04',
            questions: `What is our relationship to the original corpus? Parrish describes corpus as necromancy — how do acts of translation, transformation, recontextualization interact with corpus? Is it reverent, caring, exhuming, violent?`,
            img: `<img src="imgs/zong.png" class="imageCaption"><br>M. NourbeSe Phillip, Zong!`,
            inClass: `<span class="note">Extra</span>
              GalaxyKate ✻ <a href="https://vimeo.com/showcase/4684603/video/225566776" target="_blank">Bot Poetics</a>
              Leonard Richardson ✻ <a href="https://www.crummy.com/2013/11/27/0" target="_blank">Bots Should Punch Up</a>
              Brendan Byrne ✻ <a href="https://rhizome.org/editorial/2018/jul/10/an-excess-of-consciousness-1/" target="_blank">An Excess of Consciousness</a>
            `,
            forNext: `Kate Crawford ✻ <a href="https://www.excavating.ai/" target="_blank">Excavating AI</a>. <a href="https://docs.google.com/document/d/1sYa5sx8TQJp19yDCA7ZJWqK7kgOh83KYRp-94PMpCUA/edit" target="_blank">(Annotatable version)</a>
              <br>Nabil Hassein ✻ <a href="https://digitaltalkingdrum.com/2017/08/15/against-black-inclusion-in-facial-recognition/" target="_blank">Against Black Inclusion in Facial Recognition</a> <a href="https://docs.google.com/document/d/12mu4IZvdEFCs01bd_utPbwQM5fw8fc1CNnbzjj2qDcY/edit" target="_blank">(Annotatable version).</a>
              <br><br> Complete project 2.`          	},
          {
            shown: false,
            theme: "Corpus Consciousness, Shell Ghosts",
            date: `<span class="alert">project 2 due</span> 11/11 `,
            questions: `Ghost in the shell: Who takes responsibility when a bot writes problematics? Who gets to make machines that write for another, especially when they no longer exist? What does their presence teach us, how might they haunt us?`,
            img: `<img src="imgs/dinkinsbina.png" class="imageCaption"><br>Stephanie Dinkins meets Bina48`,
            inClass: `
              <span class="note">Exercise</span> Automatic writing exercise. Try writing with/against something.
              <br><span class="note">Optional</span> Play with <a href="https://cheapbotsdonequick.com/" target="_blank">Cheap Bots, Done Quick!</a>
              `,

            forNext: `No reading. Begin ${projects[5].project}: ${projects[5].name}`
          },
          {
            shown: false,
            theme: "Data + Classifier",
            date: '11/18',
            questions: `What happens to information within taxonomies and names? What about information without? What are missing data sets and corpuses we might start to build? What do we gain and lose with classification?`,
            img: `<img src="imgs/mimi.jpg" class="imageCaption"><br>Mimi Onuoha, Library of Missing Data Sets`,
            inClass: `
              Automatic writing exercise
              Small Group Crits
              Student share + reading discussion
              Look at:
              <a href="https://drive.google.com/file/d/1sOHH3EPPBXsreoKBSHO_QIbLH86BjGAi/view?usp=sharing" target="_blank">Reading Like a Computer</a>`,
            forNext: `No reading. Continue project work.`
          },
          {
            shown: false,
            theme: "Read Me, Read Me Not",
            date: '11/25',
            questions: `Within forces of classification, where might we situate ourselves? Where might we want to be read, versus where might we want our true meaning to be obfuscated or opaque? `,
            img: `<img src="imgs/thunderclap.jpg" class="imageCaption"><br>Amy Suo Wu, Thunderclap`,
            inClass: `
              Possibly: <a href="https://alliedmedia.org/wp-content/uploads/2020/09/peoples-guide-ai.pdf" target="_blank">Allied Media: A People's Guide to AI</a> Activity
              Look at: <a href="https://www.youtube.com/watch?v=ZBuA4VTq0ao&feature=emb_logo" target="_blank">Drag vs. AI – Algorithmic Justice League</a> ✿
               <a href="https://www.theverge.com/2020/6/3/21278950/k-pop-stans-social-media-flooding-hashtags-bluelivesmatter-maga" target="_blank">Kpop Stans and Police Radar</a> ✿
               <a href=https://getpocket.com/explore/item/the-wartime-spies-who-used-knitting-as-an-espionage-tool"" target="_blank">Wartime Spies Who Used Knitting as an Espionage Tool</a> ✿
              <a href="https://en.unesco.org/courier/2018-1/nushu-tears-sunshine target="_blank"> Nüshu: from tears to sunshine</a> ✿
              <a href="https://www.youtube.com/watch?v=wKx1aenJK08&ab_channel=skippybentley" target="_blank">Cao Ni Ma</a> ✿
              <a href="http://www.amysuowu.net/content/thunderclap" target="_blank">Amy Suo Wu Thunderclap</a>
`,
            forNext: `No reading. Work on project 3`
          },
          {
            shown: false,
            theme: `Show Your Work`,
            date: '12/02',
            questions: `What is the marketplace for those who classify as labor? Whose work do we appropriate? Who is classified as artist, writer, laborer, machine?`,
            img: `<img src="imgs/lacework.png" class="imageCaption"><br>Everest Pipkin, Lacework`,
            inClass: `
              <br><br>
              We likely won't have lecture today given final crits. But I would like to share these references with you all throughout semester:
              <br><br>
              Reading as Work ✿ Ursula LeGuin ✻ <a href="https://serendipstudio.org/sci_cult/leguin/" target="_blank">Bryn Mawr Speech</a> (excerpts) ✿
                <a href="https://www.theverge.com/2019/2/25/18229714/cognizant-facebook-content-moderator-interviews-trauma-working-conditions-arizona" target="_blank">The trauma floor: The secret lives of Facebook moderators in America</a>
                 ✿
                 <a href="https://thephotographersgallery.org.uk/whats-on/digital-project/everest-pipkin-lacework" target="_blank">Everest Pipkin - Lacework</a>
                Catherine D'Ignazio, Lauren Klein ✻ <a href="https://data-feminism.mitpress.mit.edu/pub/0vgzaln4/release/2" target="_blank">Data Feminism Principle #7: Show Your Work</a> ✿
                <a href="" target="_blank">Epic Hand Washing in the Time of Lost Narratives</a> ✿ Process Genre,
                <a href="https://www.youtube.com/watch?v=bltbAT8bIdQ&ab_channel=ParryHeide" target="_blank">Yellow Crayons + Mr Rogers</a> ✿
                <a href="https://web.archive.org/web/20170501223455/https://lithub.com/the-chinese-factory-workers-who-write-poems-on-their-phones/" target="_blank">Iron Moon</a>
                Anne Boyer ✻ <a href="https://www.poetryfoundation.org/poems/58316/not-writing" target="_blank">Not Writing</a> (also,
                  <a href="https://drive.google.com/file/d/1ZCmT4r2vy58qEtvEFRo-S_-8XZnStVyY/view?usp=sharing"target="_blank">What is Not Writing?</a>
`,
            forNext: `No reading. Finish project 3!`
          },
          {
            shown: false,
            theme: `End`,
            date: `<span class="alert">project 3 due</span> 12/09`,
            questions: ``,
            img: ``,
            inClass: `Crits`,
            forNext: `Have a great break~`
          }
        ]
      }
    })


  </script>

</body>

</html>