<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  <link rel="stylesheet" type="text/css" href="reader.css" media="screen" />
  <title>Computational Poetics // Fall 2025</title>

</head>

<body style="overflow-x:hidden;">
  <div class="header">
    <p class="small">RISD Graphic Design • GRAPH-1125</p>
    <h1>Computational Poetics Reader<br>Fall 2025 <a class="button" style="margin:0px"
        href="https://kaaathy.com/comppoetics" target="_blank">?</a></h1>

    <ul>For best results, view projects on Desktop or tablet.
  </div>
  <!-- content -->
  <div id="container" style="border-bottom:1px solid white">
    <div class="top-level">
      <div class="index small"></div>
      <div class="small">NAME</div>
      <div class="small">PROJECT</div>
      <div></div>

    </div>

    <div class="reader-row" v-for="(item,index) in allItems">
      <!-- Activate this if you want a toggle effect -->
      <div class="inner-row ta-da"><img v-bind:src="item.img" class="r-image">

        <div class="index small"><span class="decoration">✻</span>&nbsp;&nbsp;{{index + 1}}</div>

        <div style="padding-right:5px;">{{item.artist}}</div>
        <div style="padding-left:5px;" class="ta-da">{{item.project}}</div>
        <div v-if="item.url"><a class="button" v-bind:href="item.url" target="_blank">Read</a></div>
        <div v-else>
          &nbsp; &nbsp; &nbsp;
        </div>

      </div>
    </div>
  </div>

  <!-- end row element -->
  </div>
  <!-- end container element -->

  <!-- flowers -->
  <div id="flowers-field">
    <div class="flowers-row"></div>
  </div>



  <script src="flowers.js"></script>


  <script type="module">


    new Vue({
      el: "#container",
      data: {
        shownitem: 0,
        allItems: [
          {

            artist: `Marie You`,
            project: `Bluets`,
            img: "fall25/marie.png",
            url: "https://mrycdng.github.io/bluets/bluets.html"
          },
          {

            artist: `Run-Ping Mao Wei`,
            project: `make a building`,
            img: "fall25/runping.png",
            url: "https://minirunrun.github.io/In-Progress/"
          },
          {

            artist: `Mateo Reggie`,
            project: `webscrape adventure`,
            img: "fall25/mateo.png",
            url: "https://crowslee.github.io/webscrape_docs/"
          },
          {

            artist: `Allie Heffner`,
            project: `I went to the shore, this is what I saw`,
            img: "fall25/allie.png",
            url: ""
          },
          {

            artist: `Thea Kim`,
            project: `Typing Duet`,
            img: "fall25/thea.png",
            url: "https://typing-duet.onrender.com/"
          },
          {

            artist: `Isha Lee`,
            project: `ghost`,
            img: "fall25/isha.png",
            url: ""
          },
          {

            artist: `Yang Tian`,
            project: `Pinyin glitching`,
            img: "fall25/yang.png",
            url: "https://yangtian9411-max.github.io/Glitch_Yang_Tian/"
          },
          {

            artist: `Jiabao Wu`,
            project: `Eleven Ways of Writing to a Leaf`,
            img: "fall25/jiabao.png",
            url: "https://avocaadorable.github.io/ElevenWaysofWritingtoaLeaf/"
          },
          {

            artist: `Angela Zhang`,
            project: `The Waiting Catalog`,
            img: "fall25/angela2.png",
            url: "https://lilangeluh.github.io/cp25/embody/catalog.html"
          },
          {

            artist: `Grace Zhao`,
            project: `Drift`,
            img: "fall25/grace2.png",
            url: "https://grasswwwm.github.io/drift/walk-experience.html "
          },
          {

            artist: `Susan He`,
            project: `Poetry Score`,
            img: "fall25/susan.png",
            url: "https://su0511.github.io/CP-1/?seed=9qf4c3w"
          },
          {

            artist: `Zairan Liu`,
            project: `a reader is waiting for godot`,
            img: "fall25/zairan.png",
            url: ""
          }
        ]
      }
    })
  </script>